.bg-grey{
	background: #F1F1F1!important;
}

.container-setting{
	min-height: 200px!important;
}

.border-rad{
	border-radius: 10px!important;
}

.add-outline{
	outline: 1px solid grey!important;
}

.pic-sizing{
	width: 160px!important;
	height: 160px!important;
	border-radius: 50%!important;
}

.listing-sizing{
	height: 220px!important;
}

.object-fit{
	object-fit: cover!important;
}

.review-container{
	max-height: 426px!important;
	overflow-y: scroll;
}

.listing-container-setting{
	overflow-x: scroll!important;
	gap: 1rem!important;
}

.product-card-style{
	width: 18rem!important;
	background: #F1F1F1!important;

}

.icon-sizing{
	
	font-size: 148px!important;
}