.nav-pills{
	--bs-nav-pills-border-radius: 25px!important;
	
} 

.bg-grey{
	background-color: #F1F1F1!important;
}

.tab-setting{
	min-height: 50px!important;
	font-size: 18px!important;

}

.add-outline{
	outline: 1px solid black;
}

.icon-mr{
	margin-right: 1rem!important;
}

.tab-body-setting{
	background-color: #F1F1F1;
	/*background-color: red; */
	border-radius: 10px;
	padding-bottom: 5rem!important;
	/*min-height: 400px; */
}

.nav-pills .nav-link.active{

	font-weight: bold!important;
	color: white!important;
	/*background-color: #A4E473!important;*/
	/*background-color: #2D3D56!important;*/
	background-color: #527BB0!important;
}

.nav{
	--bs-nav-link-color: grey!important;
}

.nav:hover{
	--bs-link-hover-color: black!important;
}


.pic-sizing{
	width: 60px!important;
	height: 60px!important;
	border-radius: 50%!important;
}


.listing-sizing{
	height: 80px!important;
}



