.bg-grey{
	background: #F1F1F1!important;
}

.container-setting{
	min-height: 500px!important;
}

.border-rad{
	border-radius: 10px!important;
}

.add-outline{
	outline: 1px solid grey!important;
}

.pic-sizing{
	width: 60px!important;
	height: 60px!important;
	border-radius: 50%!important;
}

.listing-sizing{
	height: 80px!important;
}